body {
}
h1 {
    color: blue;
}
p {
    color: red;
}
/* unvisited link */
a:link {
    text-decoration: none;
    color:#000000;
}

/* visited link */
a:visited {
    color:#000000;
}

/* mouse over link */
a:hover {
    color:#000000;
    background-color: beige;
}

/* selected link */
a:active {
    color:#000000;
}
* {
    font-family: courier;
}
.listContainer {
    display: flex;
    flex-direction: column
}
.listRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: azure
}
.header {
    background-color: aliceblue
}
.odd {
    background-color: white
}
.listContainer .idColumn {
    display: flex;
    flex: 0.25;
    justify-content: center;
    align-items: 'center';
    border: 1px solid white;
}
.listContainer .nameColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: 'center';
    border: 1px solid white;
}
.listContainer .typeColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: 'center';
    border: 1px solid white;
}
.listContainer .dateColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: 'center';
    border: 1px solid white;
}
.listContainer .traysColumn {
    display: flex;
    flex: 0.25;
    justify-content: center;
    align-items: 'center';
    border: 1px solid white;
}
.listContainer .statusColumn {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: 'center';
    border: 1px solid white;
}

.listDataContainer {
    display: flex;
    flex-direction: column;
}

.listDataRow {
    background-color: azure
}
.horizontalAlign {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.flex1 {
    display: flex;
    flex: 1;
}
.flex05 {
    display: flex;
    flex: 0.5;
}

.itemsCentered {
    display: flex;
    justify-content: center;
    align-items: 'center';
}