.listContainer {
    display: flex;
    flex-direction: column
}
.listRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: azure
}
.header {
    background-color: aliceblue
}
.odd {
    background-color: white
}
.listContainer .idColumn {
    display: flex;
    flex: 0.25;
    justify-content: center;
    border: 1px solid white;
}
.listContainer .nameColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid white;
}
.listContainer .typeColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid white;
}
.listContainer .dateColumn {
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid white;
}
.listContainer .traysColumn {
    display: flex;
    flex: 0.25;
    justify-content: center;
    border: 1px solid white;
}

.listDataContainer {
    display: flex;
    flex-direction: column;
}

.listDataRow {
    background-color: azure
}